aiohappyeyeballs==2.6.1
aiohttp==3.12.2
aiosignal==1.3.2
alembic==1.15.1
annotated-types==0.7.0
anyio==4.7.0
archspec==0.2.5
asgiref==3.8.1
astc-encoder-py==0.1.12
attrs==25.3.0
blinker==1.9.0
Brotli==1.1.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
contourpy==1.3.3
cycler==0.12.1
distlib==0.3.9
Django==5.1.6
dnspython==2.7.0
docutils==0.21.2
email_validator==2.2.0
etcpak==0.9.15
fastapi==0.115.8
fastapi-cli==0.0.7
filelock==3.16.1
filetype==1.2.0
Flask==3.1.0
fonttools==4.59.2
frozenlist==1.6.0
fsspec==2025.9.0
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.4.9
lz4==4.4.4
Mako==1.3.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.6
mdurl==0.1.2
multidict==6.4.4
nodeenv==1.9.1
numpy==2.2.3
orjson==3.10.15
packaging==25.0
pillow==11.1.0
platformdirs==4.3.6
propcache==0.3.1
pyarrow==21.0.0
pydantic==2.10.6
pydantic-extra-types==2.10.2
pydantic-settings==2.7.1
pydantic_core==2.27.2
pyfmodex==0.7.2
pygame==2.6.1
Pygments==2.19.1
pylance==0.35.0
PyMsgBox==1.0.9
pyparsing==3.2.3
pypiwin32==223
pyright==1.1.405
pyTelegramBotAPI==4.26.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
python-telegram-bot==21.9
pytils==0.4.1
PyYAML==6.0.2
redis==6.2.0
requests==2.32.3
rich==13.9.4
rich-toolkit==0.13.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.39
sqlparse==0.5.3
starlette==0.45.3
texture2ddecoder==1.0.5
typer==0.15.1
typing_extensions==4.12.2
tzdata==2025.1
ujson==5.10.0
UnityPy==1.23.0
urllib3==2.4.0
uvicorn==0.34.0
virtualenv==20.27.0
watchfiles==1.0.4
websockets==14.2
Werkzeug==3.1.3
yarl==1.20.0


